# PyTorch GPU builds (CUDA 12.1)를 위한 추가 인덱스
--extra-index-url https://download.pytorch.org/whl/cu121

# FastAPI 서버
fastapi==0.115.2
uvicorn[standard]==0.32.0

demucs==4.0.1
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

#인덱스 라이브러리
faiss-gpu==1.8.4

# 오디오 및 데이터 처리
soundfile==0.13.1
librosa==0.10.2

# 스크립트 헬퍼
requests==2.32.3
tqdm==4.66.4